In [2]:
# Setup
import pandas as pd

df0 = pd.read_csv('train_delays_analysis/railway_delays_2020_01_1.csv')
df0.head()

,date,ride_id,train_number,station_order,station_name,to_station,mileage,arrival_delay,departure_delay,major_holiday
0,2020-01-01,G1226_20200101_1,G1226,1.0,Shenyangbei Railway Station,Shenyang Railway Station,5.0,0.0,-1.0,True
1,2020-01-01,G1226_20200101_2,G1226,2.0,Shenyang Railway Station,Liaoyang Railway Station,65.0,-2.0,2.0,True
2,2020-01-01,G1226_20200101_3,G1226,3.0,Liaoyang Railway Station,Anshanxi Railway Station,30.0,4.0,4.0,True
3,2020-01-01,G1226_20200101_4,G1226,4.0,Anshanxi Railway Station,Haichengxi Railway Station,39.0,5.0,4.0,True
4,2020-01-01,G1226_20200101_5,G1226,5.0,Haichengxi Railway Station,Panjin Railway Station,66.0,5.0,4.0,True

In [5]:
# Using a list comprehension to select dataframes from January 1st - January 27th
filenames = ['train_delays_analysis/railway_delays_2020_01_' + str(i) + '.csv' for i in range(1,28)]
filenames

['train_delays_analysis/railway_delays_2020_01_1.csv',
 'train_delays_analysis/railway_delays_2020_01_2.csv',
 'train_delays_analysis/railway_delays_2020_01_3.csv',
 'train_delays_analysis/railway_delays_2020_01_4.csv',
 'train_delays_analysis/railway_delays_2020_01_5.csv',
 'train_delays_analysis/railway_delays_2020_01_6.csv',
 'train_delays_analysis/railway_delays_2020_01_7.csv',
 'train_delays_analysis/railway_delays_2020_01_8.csv',
 'train_delays_analysis/railway_delays_2020_01_9.csv',
 'train_delays_analysis/railway_delays_2020_01_10.csv',
 'train_delays_analysis/railway_delays_2020_01_11.csv',
 'train_delays_analysis/railway_delays_2020_01_12.csv',
 'train_delays_analysis/railway_delays_2020_01_13.csv',
 'train_delays_analysis/railway_delays_2020_01_14.csv',
 'train_delays_analysis/railway_delays_2020_01_15.csv',
 'train_delays_analysis/railway_delays_2020_01_16.csv',
 'train_delays_analysis/railway_delays_2020_01_17.csv',
 'train_delays_analysis/railway_delays_2020_01_18.csv',
 'train_delays_analysis/railway_delays_2020_01_19.csv',
 'train_delays_analysis/railway_delays_2020_01_20.csv',
 'train_delays_analysis/railway_delays_2020_01_21.csv',
 'train_delays_analysis/railway_delays_2020_01_22.csv',
 'train_delays_analysis/railway_delays_2020_01_23.csv',
 'train_delays_analysis/railway_delays_2020_01_24.csv',
 'train_delays_analysis/railway_delays_2020_01_25.csv',
 'train_delays_analysis/railway_delays_2020_01_26.csv',
 'train_delays_analysis/railway_delays_2020_01_27.csv']

In [8]:
# Using a list comprehension to import all dataframes
railway_delays_dfs = [pd.read_csv(filename) for filename in filenames]
railway_delays_dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             1111 non-null   object
 1   ride_id          1111 non-null   object
 2   train_number     1111 non-null   object
 3   station_order    1111 non-null   float64
 4   station_name     1111 non-null   object
 5   to_station       1111 non-null   object
 6   mileage          1111 non-null   float64
 7   arrival_delay    1111 non-null   float64
 8   departure_delay  1111 non-null   float64
 9   major_holiday    1111 non-null   bool
dtypes: bool(1), float64(4), object(5)
memory usage: 79.3+ KB

In [11]:
# Vertically Concatenating all dataframes into a single dataframe
railway_delays_full = pd.concat(railway_delays_dfs)
railway_delays_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29717 entries, 0 to 1081
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               28604 non-null  object
 1   ride_id            28604 non-null  object
 2   train_number       28604 non-null  object
 3   station_order      28604 non-null  float64
 4   station_name       27491 non-null  object
 5   to_station         28604 non-null  object
 6   mileage            28604 non-null  float64
 7   arrival_delay      28604 non-null  float64
 8   departure_delay    28604 non-null  float64
 9   major_holiday      28604 non-null  object
 10  DATE               1113 non-null   object
 11  RIDE_ID            1113 non-null   object
 12  TRAIN_NUMBER       1113 non-null   object
 13  STATION_ORDER      1113 non-null   float64
 14  STATION_NAME       1113 non-null   object
 15  TO_STATION         1113 non-null   object
 16  MILEAGE            1113 non-null   float64
 17  ARRIVAL_DELAY      1113 non-null   float64
 18  DEPARTURE_DELAY    1113 non-null   float64
 19  MAJOR_HOLIDAY      1113 non-null   object
 20  station_name       1113 non-null   object
dtypes: float64(8), object(13)
memory usage: 5.0+ MB

In [12]:
# Cleaning and standardizing column names using a for loop
for df in railway_delays_dfs:
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.strip()
    
railway_delays_full = pd.concat(railway_delays_dfs)
railway_delays_full.head()

,date,ride_id,train_number,station_order,station_name,to_station,mileage,arrival_delay,departure_delay,major_holiday
0,2020-01-01,G1226_20200101_1,G1226,1.0,Shenyangbei Railway Station,Shenyang Railway Station,5.0,0.0,-1.0,True
1,2020-01-01,G1226_20200101_2,G1226,2.0,Shenyang Railway Station,Liaoyang Railway Station,65.0,-2.0,2.0,True
2,2020-01-01,G1226_20200101_3,G1226,3.0,Liaoyang Railway Station,Anshanxi Railway Station,30.0,4.0,4.0,True
3,2020-01-01,G1226_20200101_4,G1226,4.0,Anshanxi Railway Station,Haichengxi Railway Station,39.0,5.0,4.0,True
4,2020-01-01,G1226_20200101_5,G1226,5.0,Haichengxi Railway Station,Panjin Railway Station,66.0,5.0,4.0,True

In [13]:
# Cleaning and standardizing column names using a for loop & if/elif statements
for column in railway_delays_full.columns:
    if railway_delays_full[column].dtype == 'object':
        railway_delays_full[column] = railway_delays_full[column].str.upper()
        railway_delays_full[column] = railway_delays_full[column].str.strip()
    elif railway_delays_full[column].dtype == 'float64':
        railway_delays_full[column] = railway_delays_full[column].astype('int64')

railway_delays_full.head()

,date,ride_id,train_number,station_order,station_name,to_station,mileage,arrival_delay,departure_delay,major_holiday
0,2020-01-01,G1226_20200101_1,G1226,1,SHENYANGBEI RAILWAY STATION,SHENYANG RAILWAY STATION,5,0,-1,True
1,2020-01-01,G1226_20200101_2,G1226,2,SHENYANG RAILWAY STATION,LIAOYANG RAILWAY STATION,65,-2,2,True
2,2020-01-01,G1226_20200101_3,G1226,3,LIAOYANG RAILWAY STATION,ANSHANXI RAILWAY STATION,30,4,4,True
3,2020-01-01,G1226_20200101_4,G1226,4,ANSHANXI RAILWAY STATION,HAICHENGXI RAILWAY STATION,39,5,4,True
4,2020-01-01,G1226_20200101_5,G1226,5,HAICHENGXI RAILWAY STATION,PANJIN RAILWAY STATION,66,5,4,True

In [15]:
# Investigating if major holidays have an impact on railway delay times
# Counting how many unique days are holidays in the dataset
railway_delays_full[railway_delays_full['major_holiday']==True]['date'].nunique()

4

In [16]:
# Counting how many train rides occured on any of the 4 major holidays
railway_delays_full['major_holiday'].value_counts()

False    25443
True      4274
Name: major_holiday, dtype: int64

In [18]:
# Comparing the average arrival & delay time for trains on major holidays vs non-holidays
railway_delays_full.groupby('major_holiday').agg({'arrival_delay':'mean', 'departure_delay':'mean'}).reset_index()

   major_holiday  arrival_delay  departure_delay
0          False      23.367881        22.362104
1           True      23.815863        22.924193

In [19]:
# Analyzing the impact of distance between stations on delay times
railway_delays_full['mileage'].describe()

count    29717.000000
mean        88.000236
std         79.537992
min          1.000000
25%         43.000000
50%         70.000000
75%        120.000000
max       1410.000000
Name: mileage, dtype: float64

In [22]:
# Analyzing the impact of distance between stations on delay times
# Creating new column for rides with further than average distance
railway_delays_full['long_distance'] = railway_delays_full['mileage'] > 88
railway_delays_full['long_distance'].head(10)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8     True
9    False
Name: long_distance, dtype: bool

In [24]:
# Calculating averiage arrival & departures delays based on distance
railway_delays_full.groupby('long_distance').agg({'arrival_delay':'mean', 'departure_delay':'mean'}).reset_index()

   long_distance  arrival_delay  departure_delay
0          False      16.578222        15.120508
1           True      34.611244        34.385746

In [27]:
# Investigating the impact of weather on delay times
weather = pd.read_csv('train_delays_analysis/weather.csv')
weather.head()

            ride_id                      wind weather  temperature
0  G1226_20200101_1    light winds from the N   sunny         -7.0
1  G1226_20200101_2    light winds from the N   sunny         -7.0
2  G1226_20200101_3    light winds from the N   sunny         -3.0
3  G1226_20200101_4  gentle breeze from the N   sunny         -3.0
4  G1226_20200101_5  gentle breeze from the N   sunny         -3.0

In [28]:
# Identifying weather types
weather['weather'].value_counts()

cloudy                    8980
light rain                5802
overcast                  5736
sunny                     5731
moderate rain              973
sleet                      623
light snow                 588
light to moderate rain     325
haze                       257
moderate snow              131
fog                        129
moderate haze              106
showers                     87
heavy snow                  83
snow showers                74
downpour                    35
moderate to heavy rain      30
heavy haze                  24
blizzard                     3
Name: weather, dtype: int64

In [30]:
# Cleaning and standardizing weather data using for loop & el/elif statements
for column in weather.columns:
    if weather[column].dtype == 'object':
        weather[column] = weather[column].str.upper()
        weather[column] = weather[column].str.strip()
    elif weather[column].dtype == 'float64':
        weather[column] = weather[column].astype('int64')
weather.head()

            ride_id                      wind weather  temperature
0  G1226_20200101_1    LIGHT WINDS FROM THE N   SUNNY           -7
1  G1226_20200101_2    LIGHT WINDS FROM THE N   SUNNY           -7
2  G1226_20200101_3    LIGHT WINDS FROM THE N   SUNNY           -3
3  G1226_20200101_4  GENTLE BREEZE FROM THE N   SUNNY           -3
4  G1226_20200101_5  GENTLE BREEZE FROM THE N   SUNNY           -3

In [31]:
# Joining railway_delays_full and weather using an inner merge
railway_delays_join_weather = pd.merge(railway_delays_full,
                                      weather,
                                      left_on='ride_id',
                                      right_on='ride_id',
                                      how='inner')
railway_delays_join_weather.head()

,date,ride_id,train_number,station_order,station_name,to_station,mileage,arrival_delay,departure_delay,major_holiday,long_distance,wind,weather,temperature
0,2020-01-01,G1226_20200101_1,G1226,1,SHENYANGBEI RAILWAY STATION,SHENYANG RAILWAY STATION,5,0,-1,True,False,LIGHT WINDS FROM THE N,SUNNY,-7
1,2020-01-01,G1226_20200101_2,G1226,2,SHENYANG RAILWAY STATION,LIAOYANG RAILWAY STATION,65,-2,2,True,False,LIGHT WINDS FROM THE N,SUNNY,-7
2,2020-01-01,G1226_20200101_3,G1226,3,LIAOYANG RAILWAY STATION,ANSHANXI RAILWAY STATION,30,4,4,True,False,LIGHT WINDS FROM THE N,SUNNY,-3
3,2020-01-01,G1226_20200101_4,G1226,4,ANSHANXI RAILWAY STATION,HAICHENGXI RAILWAY STATION,39,5,4,True,False,GENTLE BREEZE FROM THE N,SUNNY,-3
4,2020-01-01,G1226_20200101_5,G1226,5,HAICHENGXI RAILWAY STATION,PANJIN RAILWAY STATION,66,5,4,True,False,GENTLE BREEZE FROM THE N,SUNNY,-3

In [33]:
# Calculating average arrival & departure delay times for weather types
railway_delays_join_weather.groupby('weather').agg({'arrival_delay':'mean', 'departure_delay':'mean'})\
.sort_values('arrival_delay', ascending=False).reset_index()

                   weather  arrival_delay  departure_delay
0                 BLIZZARD     314.666667       314.666667
1               HEAVY SNOW      79.289157        78.590361
2            MODERATE SNOW      67.816794        66.977099
3               LIGHT SNOW      50.243197        49.719388
4                    SLEET      39.614767        39.579454
5            MODERATE RAIN      39.065776        37.885920
6                   CLOUDY      28.314811        27.243096
7                    SUNNY      23.074158        21.916419
8                 OVERCAST      19.193166        18.550558
9               LIGHT RAIN      15.308342        14.110996
10                 SHOWERS       7.551724         7.195402
11            SNOW SHOWERS       3.527027         3.229730
12  LIGHT TO MODERATE RAIN       2.960000         1.184615
13                DOWNPOUR       2.571429         1.771429
14  MODERATE TO HEAVY RAIN       0.833333         0.333333
15                     FOG       0.689922         0.031008
16           MODERATE HAZE       0.650943         0.490566
17                    HAZE       0.501946         0.163424
18              HEAVY HAZE      -0.125000        -0.166667